@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-oswald: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-oswald);
  overflow-x: hidden;
}
